* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*
  in principe is het font "inter", als alternatief: "sans-serif"
  */
  font-family: Inter, sans-serif;
  background-color: #2b323d;
}

.nav-container {
  display: flex;
  align-items: center;
  background-color: #293169;
  height: 90px;
  padding: 30px 25px;
}

nav > h3,
  /* lees hier: de h3-kop binnen het nav-element */
nav > h4 {
  margin: 0;
}

.nav--logo_text {
  /* volgende regel geeft ruimte aan rechterkant*/
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/logo512.png);
  background-repeat: no-repeat;
  background-position-x: 143%;
  background-size: 45%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  color: #61dafb;
  font-size: 30px;
}
