* {
  margin-left: 5px;
  box-sizing: border-box;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: blueviolet;
  align-items: center;
}

.card {
  width: 471;
  left: 39px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid 2px blue;
}

.card--location-icon {
  height: 15px;
}

.card--image {
  margin-top: 5px;
  height: 150px;
  width: 150px;
}
